aquaponics.json
[
    {
        "type": "tab",
        "id": "dcfc1ab5.2303e8",
        "label": "Database"
    },
    {
        "type": "tab",
        "id": "2ab47b4a.d54b84",
        "label": "Config handler"
    },
    {
        "id": "dc441eae.23bbe",
        "type": "websocket-listener",
        "path": "/ws/aquadata",
        "wholemsg": "true"
    },
    {
        "id": "a88c156.f5773e8",
        "type": "mqtt-broker",
        "broker": "192.168.1.99",
        "port": "1883",
        "clientid": ""
    },
    {
        "id": "a58effeb.5a71",
        "type": "MySQLdatabase",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "readings"
    },
    {
        "id": "f91e7377.06e19",
        "type": "mqtt in",
        "name": "",
        "topic": "Light",
        "broker": "a88c156.f5773e8",
        "x": 125.9841079711914,
        "y": 601,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "805c7ce3.7fa38"
            ]
        ]
    },
    {
        "id": "fbc29972.043d68",
        "type": "mqtt in",
        "name": "",
        "topic": "Air Temperature",
        "broker": "a88c156.f5773e8",
        "x": 102.20632934570312,
        "y": 649.5079956054688,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "805c7ce3.7fa38"
            ]
        ]
    },
    {
        "id": "77f750e4.8808b",
        "type": "mqtt in",
        "name": "",
        "topic": "Water Temperature",
        "broker": "a88c156.f5773e8",
        "x": 92.5,
        "y": 701.7301788330078,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "805c7ce3.7fa38"
            ]
        ]
    },
    {
        "id": "3bc9c413.c4363c",
        "type": "mqtt in",
        "name": "",
        "topic": "Air Pump 1 Current",
        "broker": "a88c156.f5773e8",
        "x": 100.42855834960938,
        "y": 92,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "27ddd3e3.d8222c"
            ]
        ]
    },
    {
        "id": "879c496c.7863b8",
        "type": "mqtt in",
        "name": "",
        "topic": "Water Pump Current",
        "broker": "a88c156.f5773e8",
        "x": 95.5,
        "y": 185.11111450195312,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "27ddd3e3.d8222c"
            ]
        ]
    },
    {
        "id": "b6c74be7.4938b8",
        "type": "mqtt in",
        "name": "",
        "topic": "pH",
        "broker": "a88c156.f5773e8",
        "x": 88.28572082519531,
        "y": 266.4403076171875,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "b0c8813a.4f378"
            ]
        ]
    },
    {
        "id": "98363b2a.67c9c8",
        "type": "mqtt in",
        "name": "",
        "topic": "Light_Voltage",
        "broker": "a88c156.f5773e8",
        "x": 110.56349182128906,
        "y": 366.17462158203125,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "805c7ce3.7fa38"
            ]
        ]
    },
    {
        "id": "d96c0f0b.2693f",
        "type": "mqtt in",
        "name": "",
        "topic": "pH_Voltage",
        "broker": "a88c156.f5773e8",
        "x": 109.9841079711914,
        "y": 406,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "805c7ce3.7fa38"
            ]
        ]
    },
    {
        "id": "805c7ce3.7fa38",
        "type": "function",
        "name": "Log data",
        "func": "var makeQueryMsg = function(sensor_name, value) {\n\tvar query = \"insert into todmorden\"\n\t\t    +\" (sensor_name, reading_time, reading_value) values \"\n\t\t\t+\" ('\"+sensor_name+\"', NOW(),\"\n\t\t\t+\" '\"+value+\"')\";\n\t// mysql node expects the query to be the topic\n    return {'topic':query};\n};\n\n// Buffer\ncontext.data = context.data || {};\n\n// On reciept of log_all message, log \nif (msg.topic =='log_all') {\n\tvar outputMsgs = [];\n\tfor(var sensor_name in context.data){\n\t    var query = makeQueryMsg(sensor_name, context.data[sensor_name]);\n\t\toutputMsgs.push(queryMsg);\n\t}\n\treturn [outputMsgs];\n}\n\n// Compare the current payload with the previous\n// one, and if it's changed then pass on the message\n// and store the new value.\nelse if (msg.payload != context.data[msg.topic]) {\n\tcontext.data[msg.topic] = msg.payload;\n\tvar queryMsg = makeQueryMsg(msg.topic, context.data[msg.topic]);\n\treturn queryMsg;\n}\n",
        "outputs": 1,
        "x": 567.5,
        "y": 377.9090881347656,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "1c84c042.e37b4"
            ]
        ]
    },
    {
        "id": "f2654d61.0d9ab",
        "type": "mqtt in",
        "name": "",
        "topic": "system",
        "broker": "a88c156.f5773e8",
        "x": 130,
        "y": 563,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "805c7ce3.7fa38"
            ]
        ]
    },
    {
        "id": "f701d511.08fe28",
        "type": "mqtt in",
        "name": "",
        "topic": "Valve Messages",
        "broker": "a88c156.f5773e8",
        "x": 107,
        "y": 494,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "805c7ce3.7fa38"
            ]
        ]
    },
    {
        "id": "21f61f9f.de09e",
        "type": "mqtt in",
        "name": "",
        "topic": "Digital Water Level",
        "broker": "a88c156.f5773e8",
        "x": 95.5,
        "y": 229,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "216d9c7e.de9264"
            ]
        ]
    },
    {
        "id": "5d15e068.a2ea2",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 591,
        "y": 583,
        "z": "dcfc1ab5.2303e8",
        "wires": []
    },
    {
        "id": "216d9c7e.de9264",
        "type": "function",
        "name": "Rangify",
        "func": "switch (parseInt(msg.payload, 10)) {\n\tcase 0:\n\t\tmsg.payload = '< 0.5';\n\t\tbreak;\n\tcase 1:\n\t\tmsg.payload = '>= 0.5 & < 8.5';\n\t\tbreak;\n\tcase 3:\n\t\tmsg.payload = '>= 8.5 & < 16';\n\t\tbreak;\n\tcase 7: \n\t\tmsg.payload = '>= 16 & < 24';\n\t\tbreak;\n\tcase 15:\n\t\tmsg.payload = '>= 24';\n\t\tbreak;\n\tdefault :\n\t    msg.payload = 'cannot determine level';\n\t    break;\n}\nreturn msg;",
        "outputs": 1,
        "x": 303,
        "y": 229,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "805c7ce3.7fa38"
            ]
        ]
    },
    {
        "id": "ff418e44.00be7",
        "type": "function",
        "name": "Round to 1 dp",
        "func": "msg.payload = parseFloat(msg.payload).toFixed(1);\nreturn msg;",
        "outputs": 1,
        "x": 271,
        "y": 311,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "805c7ce3.7fa38"
            ]
        ]
    },
    {
        "id": "c7f2f22b.380d1",
        "type": "mqtt in",
        "name": "",
        "topic": "Air Pump 2 Current",
        "broker": "a88c156.f5773e8",
        "x": 96,
        "y": 136.7143096923828,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "27ddd3e3.d8222c"
            ]
        ]
    },
    {
        "id": "27ddd3e3.d8222c",
        "type": "function",
        "name": "Transform to on/off/overload",
        "func": "var systemMsg = null;\n\nif (msg.payload < 0.1) {\n\tmsg.payload = 0; // OFF\n} else if (msg.payload > 1) {\n\tmsg.payload = 2; // OVERLOAD\n\tsystemMsg = {payload: msg.topic + ' Overload'};\n} else { \n\tmsg.payload = 1; // OK\n}\n\nreturn [systemMsg, msg];",
        "outputs": "2",
        "x": 393,
        "y": 138.7143096923828,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "9d7d20b6.6282e"
            ],
            [
                "805c7ce3.7fa38"
            ]
        ]
    },
    {
        "id": "9d7d20b6.6282e",
        "type": "mqtt out",
        "name": "",
        "topic": "system",
        "broker": "a88c156.f5773e8",
        "x": 597,
        "y": 95.71430969238281,
        "z": "dcfc1ab5.2303e8",
        "wires": []
    },
    {
        "id": "ed2c1f9e.12d3e",
        "type": "inject",
        "name": "Log all data at midnight",
        "topic": "log_all",
        "payload": "",
        "payloadType": "none",
        "repeat": "",
        "crontab": "05 00 * * *",
        "once": false,
        "x": 546,
        "y": 233,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "805c7ce3.7fa38"
            ]
        ]
    },
    {
        "id": "1c84c042.e37b4",
        "type": "mysql",
        "mydb": "a58effeb.5a71",
        "name": "mysql",
        "x": 572,
        "y": 464,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "5d15e068.a2ea2"
            ]
        ]
    },
    {
        "id": "8b3211fd.74cdf",
        "type": "mqtt in",
        "name": "",
        "topic": "Humidity_Voltage",
        "broker": "a88c156.f5773e8",
        "x": 89.88888549804688,
        "y": 446.8888854980469,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "805c7ce3.7fa38"
            ]
        ]
    },
    {
        "id": "e6e55d0d.191aa",
        "type": "mqtt in",
        "name": "",
        "topic": "Humidity",
        "broker": "a88c156.f5773e8",
        "x": 88.88888549804688,
        "y": 336.8888854980469,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "805c7ce3.7fa38"
            ]
        ]
    },
    {
        "id": "9bba9ab3.644568",
        "type": "mqtt in",
        "name": "",
        "topic": "pHmV",
        "broker": "a88c156.f5773e8",
        "x": 86.88888549804688,
        "y": 301.8888854980469,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "ff418e44.00be7"
            ]
        ]
    },
    {
        "id": "daad9d57.25526",
        "type": "mqtt in",
        "name": "",
        "topic": "system",
        "broker": "a88c156.f5773e8",
        "x": 109.88888549804688,
        "y": 109,
        "z": "2ab47b4a.d54b84",
        "wires": [
            [
                "22767e3b.dd8982",
                "8c4e3133.73b1d"
            ]
        ]
    },
    {
        "id": "22767e3b.dd8982",
        "type": "switch",
        "name": "",
        "property": "payload",
        "rules": [
            {
                "t": "eq",
                "v": "Reset"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 251.88888549804688,
        "y": 108,
        "z": "2ab47b4a.d54b84",
        "wires": [
            [
                "82904d63.7d6fb"
            ]
        ]
    },
    {
        "id": "76f04ef4.890fb",
        "type": "mysql",
        "mydb": "a58effeb.5a71",
        "name": "",
        "x": 556.8888854980469,
        "y": 110,
        "z": "2ab47b4a.d54b84",
        "wires": [
            [
                "f7e43e3f.081bc"
            ]
        ]
    },
    {
        "id": "82904d63.7d6fb",
        "type": "function",
        "name": "read config",
        "func": "msg.topic = 'select * from todmorden_config where active = 1';\nreturn msg;",
        "outputs": 1,
        "x": 395.8888854980469,
        "y": 111,
        "z": "2ab47b4a.d54b84",
        "wires": [
            [
                "76f04ef4.890fb"
            ]
        ]
    },
    {
        "id": "f7e43e3f.081bc",
        "type": "mqtt out",
        "name": "",
        "topic": "load config",
        "broker": "a88c156.f5773e8",
        "x": 707.8888854980469,
        "y": 111,
        "z": "2ab47b4a.d54b84",
        "wires": []
    },
    {
        "id": "7048e37e.8fb71c",
        "type": "mqtt in",
        "name": "",
        "topic": "save config",
        "broker": "a88c156.f5773e8",
        "x": 130.88888549804688,
        "y": 190,
        "z": "2ab47b4a.d54b84",
        "wires": [
            [
                "1d55d9ff.e2aa26"
            ]
        ]
    },
    {
        "id": "1d55d9ff.e2aa26",
        "type": "function",
        "name": "write config",
        "func": "msg.topic = '';\nvar obj = JSON.parse(msg.payload);\nvar msgs = [];\n// deactivate existing config\nmsgs.push({topic: 'update todmorden_config set active = 0'});\n// save new active config\nfor (prop in obj) {\n\tif (obj.hasOwnProperty(prop)) {\n\t\tmsgs.push({\n\t\t\ttopic: 'insert into todmorden_config set name = \"'\n\t\t\t\t+prop+'\", value = \"'+obj[prop]+\n\t\t\t\t'\", active = 1, `time` = now()'\n\t\t});\n\t}\n}\nreturn [msgs]; ",
        "outputs": 1,
        "x": 382.8888854980469,
        "y": 196,
        "z": "2ab47b4a.d54b84",
        "wires": [
            [
                "529a35d1.ad65cc"
            ]
        ]
    },
    {
        "id": "529a35d1.ad65cc",
        "type": "mysql",
        "mydb": "a58effeb.5a71",
        "name": "",
        "x": 539.8888854980469,
        "y": 198,
        "z": "2ab47b4a.d54b84",
        "wires": [
            [
                "4bd006d5.b42ff8"
            ]
        ]
    },
    {
        "id": "a6d7157d.5928e8",
        "type": "mqtt out",
        "name": "",
        "topic": "system",
        "qos": "",
        "retain": "",
        "broker": "a88c156.f5773e8",
        "x": 704.8888854980469,
        "y": 261,
        "z": "2ab47b4a.d54b84",
        "wires": []
    },
    {
        "id": "4bd006d5.b42ff8",
        "type": "template",
        "name": "Config saved",
        "template": "Config saved to db",
        "x": 557.8888854980469,
        "y": 265,
        "z": "2ab47b4a.d54b84",
        "wires": [
            [
                "a6d7157d.5928e8"
            ]
        ]
    },
    {
        "id": "5ce4407e.a31bc",
        "type": "inject",
        "name": "Send config",
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "repeat": "1440",
        "crontab": "",
        "once": false,
        "x": 118,
        "y": 58,
        "z": "2ab47b4a.d54b84",
        "wires": [
            [
                "82904d63.7d6fb"
            ]
        ]
    },
    {
        "id": "b0c8813a.4f378",
        "type": "function",
        "name": "Round to 2 dp",
        "func": "msg.payload = parseFloat(msg.payload).toFixed(2);\nreturn msg;",
        "outputs": 1,
        "x": 269,
        "y": 273,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "805c7ce3.7fa38"
            ]
        ]
    },
    {
        "id": "8c4e3133.73b1d",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 249.88888549804688,
        "y": 144.88888549804688,
        "z": "2ab47b4a.d54b84",
        "wires": []
    },
    {
        "id": "ee4c3473.11b3c8",
        "type": "mqtt in",
        "name": "",
        "topic": "Valve Mode",
        "broker": "a88c156.f5773e8",
        "x": 117,
        "y": 529,
        "z": "dcfc1ab5.2303e8",
        "wires": [
            [
                "805c7ce3.7fa38"
            ]
        ]
    }
]