aquaponics.json
[{"type":"tab","id":"dcfc1ab5.2303e8","label":"Cassandra"},{"type":"tab","id":"2f3c8bd6.d0c374","label":"Dashboard"},{"id":"dc441eae.23bbe","type":"websocket-listener","path":"/ws/aquadata","wholemsg":"true"},{"id":"a88c156.f5773e8","type":"mqtt-broker","broker":"192.168.1.99","port":"1883","clientid":""},{"id":"87012cb4.78fed","type":"function","name":"Add timestamp","func":"\nvar now = context.global.moment();\nmsg.payload += ' @ '+now.format('H:mm:ss')\n\t\t     + ' '+now.format('D/M/YY');\n\nreturn msg;","outputs":1,"x":374,"y":508,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"b5040327.4afc","type":"websocket out","name":"","server":"dc441eae.23bbe","x":639,"y":271,"z":"2f3c8bd6.d0c374","wires":[]},{"id":"d8285437.27d7a8","type":"debug","name":"","active":false,"complete":"true","x":605,"y":220,"z":"2f3c8bd6.d0c374","wires":[]},{"id":"31a07c56.ce5f84","type":"function","name":"Dashboard buffer","func":"context.data = context.data || {};\ncontext.data[msg.topic] = msg.payload;\nreturn context.data;\n\n","outputs":1,"x":405,"y":238,"z":"2f3c8bd6.d0c374","wires":[["b5040327.4afc","d8285437.27d7a8"]]},{"id":"69e58ec7.961a7","type":"mqtt in","name":"","topic":"system","broker":"a88c156.f5773e8","x":83,"y":559,"z":"2f3c8bd6.d0c374","wires":[["87012cb4.78fed"]]},{"id":"5418d1c.fabe73","type":"mqtt in","name":"","topic":"Valve Messages","broker":"a88c156.f5773e8","x":100,"y":490,"z":"2f3c8bd6.d0c374","wires":[["87012cb4.78fed"]]},{"id":"35df100a.ca20f","type":"mqtt in","name":"","topic":"pH_Voltage","broker":"a88c156.f5773e8","x":105,"y":368,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"43f683b4.bc097c","type":"mqtt in","name":"","topic":"Light_Voltage","broker":"a88c156.f5773e8","x":113,"y":411,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"ef4e3b2b.10b1c8","type":"mqtt in","name":"","topic":"Digital Water Level","broker":"a88c156.f5773e8","x":90.5,"y":449,"z":"2f3c8bd6.d0c374","wires":[["711b197.f8ee4e8"]]},{"id":"5120a091.aedf6","type":"mqtt in","name":"pH","topic":"pHradio","broker":"a88c156.f5773e8","x":82,"y":226,"z":"2f3c8bd6.d0c374","wires":[["c2b44a9.f3d4bb8"]]},{"id":"dfd98cd9.20267","type":"mqtt in","name":"","topic":"Water Pump Current","broker":"a88c156.f5773e8","x":104,"y":36,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"16d72f94.e928d","type":"mqtt in","name":"","topic":"Air Pump 1 Current","broker":"a88c156.f5773e8","x":99,"y":69,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"86e11328.791ef","type":"mqtt in","name":"","topic":"Water Temperature","broker":"a88c156.f5773e8","x":108.5,"y":148,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"889f763f.776088","type":"mqtt in","name":"","topic":"Light","broker":"a88c156.f5773e8","x":149,"y":312,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"2dafaa5.fd25056","type":"mqtt in","name":"","topic":"Air Temperature","broker":"a88c156.f5773e8","x":116.22222900390625,"y":185.50798416137695,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"b0b2e060.4f4d2","type":"mqtt in","name":"","topic":"Light","broker":"a88c156.f5773e8","x":126.98410987854004,"y":28,"z":"dcfc1ab5.2303e8","wires":[["3df8a59b.c2075a"]]},{"id":"523d94c3.adc26c","type":"mqtt in","name":"","topic":"Air Temperature","broker":"a88c156.f5773e8","x":109.20633888244629,"y":61.50798320770264,"z":"dcfc1ab5.2303e8","wires":[["3df8a59b.c2075a"]]},{"id":"4561328d.ba9ecc","type":"mqtt in","name":"","topic":"Water Temperature","broker":"a88c156.f5773e8","x":99.20634078979492,"y":93.73018074035645,"z":"dcfc1ab5.2303e8","wires":[["3df8a59b.c2075a"]]},{"id":"47af5fc0.b850a","type":"mqtt in","name":"","topic":"Air Pump 1 Current","broker":"a88c156.f5773e8","x":101.42856216430664,"y":126.28568935394287,"z":"dcfc1ab5.2303e8","wires":[["3df8a59b.c2075a"]]},{"id":"4943c3e7.b6bc3c","type":"mqtt in","name":"","topic":"Water Pump Current","broker":"a88c156.f5773e8","x":96.5,"y":194.3968048095703,"z":"dcfc1ab5.2303e8","wires":[["3df8a59b.c2075a"]]},{"id":"8e7f812d.71808","type":"mqtt in","name":"pH","topic":"pHradio","broker":"a88c156.f5773e8","x":134.28571891784668,"y":223.44032955169678,"z":"dcfc1ab5.2303e8","wires":[["fa28900c.05d77"]]},{"id":"9bc77f2d.64388","type":"mqtt in","name":"","topic":"Analogue Water Level","broker":"a88c156.f5773e8","x":101,"y":257.0118103027344,"z":"dcfc1ab5.2303e8","wires":[["3df8a59b.c2075a"]]},{"id":"4c77e25c.b3881c","type":"mqtt in","name":"","topic":"Light_Voltage","broker":"a88c156.f5773e8","x":123.56349182128906,"y":289.17462158203125,"z":"dcfc1ab5.2303e8","wires":[["3df8a59b.c2075a"]]},{"id":"3477eccf.cb8814","type":"mqtt in","name":"","topic":"pH_Voltage","broker":"a88c156.f5773e8","x":127.9841079711914,"y":323,"z":"dcfc1ab5.2303e8","wires":[["3df8a59b.c2075a"]]},{"id":"6d9bb848.926448","type":"function","name":"Log data every minute","func":"var topic = msg.topic;\ncontext[topic] = context[topic] || []\ncontext[topic].lastTimestamp = context[topic].lastTimestamp || 0;\nvar timestamp = Date.now();\nif (timestamp - context[topic].lastTimestamp > 60000) {\n\tcontext[topic].lastTimestamp = timestamp;\n\treturn msg;\n}","outputs":1,"x":490.5,"y":337.9090881347656,"z":"dcfc1ab5.2303e8","wires":[["9ec70d07.6138f"]]},{"id":"9ec70d07.6138f","type":"function","name":"cassandra","func":"context.client = context.client || new context.global.cql.Client({\n\thosts: ['aquagardenserver'],\n\tkeyspace: 'aquaponics',\n});\n\nvar insertCommand = \"insert into todmorden_\"\n    +msg.data_type\n\t+\" (sensor_name, reading_time, reading_value) values \"\n\t+\" ('\"+msg.topic+\"', dateof(now()), \"+msg.payload+\")\";\ncontext.client.execute(insertCommand, function(err, res){\n\n});\n\nreturn insertCommand;","outputs":"1","x":653.5,"y":261.90911865234375,"z":"dcfc1ab5.2303e8","wires":[["2521484b.dadeb8"]]},{"id":"3df8a59b.c2075a","type":"function","name":"Numeric","func":"msg.data_type = 'numeric';\nreturn msg;","outputs":1,"x":495,"y":231,"z":"dcfc1ab5.2303e8","wires":[["6d9bb848.926448"]]},{"id":"73356f27.8cca9","type":"function","name":"Text","func":"msg.data_type = 'text';\nmsg.payload = \"'\" + msg.payload + \"'\";\nreturn msg;","outputs":1,"x":422,"y":488,"z":"dcfc1ab5.2303e8","wires":[["6d9bb848.926448"]]},{"id":"6b5ce46a.94a31c","type":"mqtt in","name":"","topic":"system","broker":"a88c156.f5773e8","x":146,"y":497,"z":"dcfc1ab5.2303e8","wires":[["73356f27.8cca9"]]},{"id":"51fb8e2d.ae047","type":"mqtt in","name":"","topic":"Valve Messages","broker":"a88c156.f5773e8","x":109,"y":450,"z":"dcfc1ab5.2303e8","wires":[["73356f27.8cca9"]]},{"id":"cb0a214e.34f5e","type":"mqtt in","name":"","topic":"Digital Water Level","broker":"a88c156.f5773e8","x":113.5,"y":544,"z":"dcfc1ab5.2303e8","wires":[["71495148.8eb6b"]]},{"id":"2521484b.dadeb8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":682,"y":432,"z":"dcfc1ab5.2303e8","wires":[]},{"id":"71495148.8eb6b","type":"function","name":"Rangify","func":"switch (parseInt(msg.payload, 10)) {\n\tcase 0:\n\t\tmsg.payload = '< 0.5';\n\t\tbreak;\n\tcase 1:\n\t\tmsg.payload = '>= 0.5 & < 8.5';\n\t\tbreak;\n\tcase 3:\n\t\tmsg.payload = '>= 8.5 & < 16';\n\t\tbreak;\n\tcase 7: \n\t\tmsg.payload = '>= 16 & < 24';\n\t\tbreak;\n\tcase 15:\n\t\tmsg.payload = '>= 24';\n\t\tbreak;\n\tdefault :\n\t    msg.payload = 'cannot determine level';\n\t    break;\n}\nreturn msg;","outputs":1,"x":292,"y":544,"z":"dcfc1ab5.2303e8","wires":[["73356f27.8cca9"]]},{"id":"711b197.f8ee4e8","type":"function","name":"Rangify (human)","func":"switch (parseInt(msg.payload, 10)) {\n\tcase 0:\n\t\tmsg.payload = 'Less than 0.5';\n\t\tbreak;\n\tcase 1:\n\t\tmsg.payload = 'Between 0.5 & 8.5';\n\t\tbreak;\n\tcase 3:\n\t\tmsg.payload = 'Between 8.5 & 16';\n\t\tbreak;\n\tcase 7: \n\t\tmsg.payload = 'Between 16 & 24';\n\t\tbreak;\n\tcase 15:\n\t\tmsg.payload = 'More than 24';\n\t\tbreak;\n\tdefault :\n\t    msg.payload = 'cannot determine level';\n\t    break;\n}\nreturn msg;","outputs":1,"x":299,"y":452,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"fa28900c.05d77","type":"function","name":"Round to 1 dp","func":"msg.payload = parseFloat(msg.payload).toFixed(1);\nreturn msg;","outputs":1,"x":277,"y":222,"z":"dcfc1ab5.2303e8","wires":[["3df8a59b.c2075a"]]},{"id":"c2b44a9.f3d4bb8","type":"function","name":"Round to 1 dp","func":"msg.payload = parseFloat(msg.payload).toFixed(1);\nreturn msg;","outputs":1,"x":121,"y":264,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"787796b2.878868","type":"mqtt in","name":"","topic":"Air Pump 2 Current","broker":"a88c156.f5773e8","x":100,"y":161,"z":"dcfc1ab5.2303e8","wires":[["3df8a59b.c2075a"]]},{"id":"df4e66c1.20b198","type":"mqtt in","name":"","topic":"Air Pump 2 Current","broker":"a88c156.f5773e8","x":100,"y":107,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]}]