aquaponics.json
[{"type":"tab","id":"dcfc1ab5.2303e8","label":"Cassandra"},{"type":"tab","id":"2f3c8bd6.d0c374","label":"Dashboard"},{"id":"dc441eae.23bbe","type":"websocket-listener","path":"/ws/aquadata","wholemsg":"true"},{"id":"a88c156.f5773e8","type":"mqtt-broker","broker":"192.168.1.99","port":"1883","clientid":""},{"id":"817e85f1.7e8178","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"87012cb4.78fed","type":"function","name":"Add timestamp","func":"var now = context.global.moment();\nmsg.payload += ' @ '+now.format('H:mm:ss')\n\t\t     + ' '+now.format('D/M/YY');\nreturn msg;","outputs":1,"x":374,"y":508,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"b5040327.4afc","type":"websocket out","name":"","server":"dc441eae.23bbe","x":639,"y":271,"z":"2f3c8bd6.d0c374","wires":[]},{"id":"d8285437.27d7a8","type":"debug","name":"","active":false,"complete":"true","x":605,"y":220,"z":"2f3c8bd6.d0c374","wires":[]},{"id":"31a07c56.ce5f84","type":"function","name":"Dashboard buffer","func":"context.data = context.data || {};\ncontext.data[msg.topic] = msg.payload;\nreturn context.data;\n\n","outputs":1,"x":405,"y":238,"z":"2f3c8bd6.d0c374","wires":[["b5040327.4afc","d8285437.27d7a8"]]},{"id":"69e58ec7.961a7","type":"mqtt in","name":"","topic":"system","broker":"a88c156.f5773e8","x":83,"y":559,"z":"2f3c8bd6.d0c374","wires":[["87012cb4.78fed"]]},{"id":"5418d1c.fabe73","type":"mqtt in","name":"","topic":"Valve Messages","broker":"a88c156.f5773e8","x":100,"y":490,"z":"2f3c8bd6.d0c374","wires":[["87012cb4.78fed"]]},{"id":"35df100a.ca20f","type":"mqtt in","name":"","topic":"pH_Voltage","broker":"a88c156.f5773e8","x":105,"y":368,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"43f683b4.bc097c","type":"mqtt in","name":"","topic":"Light_Voltage","broker":"a88c156.f5773e8","x":113,"y":411,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"ef4e3b2b.10b1c8","type":"mqtt in","name":"","topic":"Digital Water Level","broker":"a88c156.f5773e8","x":90.5,"y":449,"z":"2f3c8bd6.d0c374","wires":[["711b197.f8ee4e8"]]},{"id":"5120a091.aedf6","type":"mqtt in","name":"pH","topic":"pHradio","broker":"a88c156.f5773e8","x":82,"y":226,"z":"2f3c8bd6.d0c374","wires":[["c2b44a9.f3d4bb8"]]},{"id":"dfd98cd9.20267","type":"mqtt in","name":"","topic":"Water Pump Current","broker":"a88c156.f5773e8","x":104,"y":36,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"16d72f94.e928d","type":"mqtt in","name":"","topic":"Air Pump 1 Current","broker":"a88c156.f5773e8","x":99,"y":69,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"86e11328.791ef","type":"mqtt in","name":"","topic":"Water Temperature","broker":"a88c156.f5773e8","x":108.5,"y":148,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"889f763f.776088","type":"mqtt in","name":"","topic":"Light","broker":"a88c156.f5773e8","x":149,"y":312,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"2dafaa5.fd25056","type":"mqtt in","name":"","topic":"Air Temperature","broker":"a88c156.f5773e8","x":116.22222900390625,"y":185.50798416137695,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"711b197.f8ee4e8","type":"function","name":"Rangify (human)","func":"switch (parseInt(msg.payload, 10)) {\n\tcase 0:\n\t\tmsg.payload = 'Less than 0.5';\n\t\tbreak;\n\tcase 1:\n\t\tmsg.payload = 'Between 0.5 & 8.5';\n\t\tbreak;\n\tcase 3:\n\t\tmsg.payload = 'Between 8.5 & 16';\n\t\tbreak;\n\tcase 7: \n\t\tmsg.payload = 'Between 16 & 24';\n\t\tbreak;\n\tcase 15:\n\t\tmsg.payload = 'More than 24';\n\t\tbreak;\n\tdefault :\n\t    msg.payload = 'cannot determine level';\n\t    break;\n}\nreturn msg;","outputs":1,"x":299,"y":452,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"c2b44a9.f3d4bb8","type":"function","name":"Round to 1 dp","func":"msg.payload = parseFloat(msg.payload).toFixed(1);\nreturn msg;","outputs":1,"x":121,"y":264,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"df4e66c1.20b198","type":"mqtt in","name":"","topic":"Air Pump 2 Current","broker":"a88c156.f5773e8","x":100,"y":107,"z":"2f3c8bd6.d0c374","wires":[["31a07c56.ce5f84"]]},{"id":"f91e7377.06e19","type":"mqtt in","name":"","topic":"Light","broker":"a88c156.f5773e8","x":125.9841079711914,"y":601,"z":"dcfc1ab5.2303e8","wires":[["805c7ce3.7fa38"]]},{"id":"fbc29972.043d68","type":"mqtt in","name":"","topic":"Air Temperature","broker":"a88c156.f5773e8","x":102.20632934570312,"y":649.5079956054688,"z":"dcfc1ab5.2303e8","wires":[["805c7ce3.7fa38"]]},{"id":"77f750e4.8808b","type":"mqtt in","name":"","topic":"Water Temperature","broker":"a88c156.f5773e8","x":92.5,"y":701.7301788330078,"z":"dcfc1ab5.2303e8","wires":[["805c7ce3.7fa38"]]},{"id":"3bc9c413.c4363c","type":"mqtt in","name":"","topic":"Air Pump 1 Current","broker":"a88c156.f5773e8","x":100.42855834960938,"y":92,"z":"dcfc1ab5.2303e8","wires":[["27ddd3e3.d8222c"]]},{"id":"879c496c.7863b8","type":"mqtt in","name":"","topic":"Water Pump Current","broker":"a88c156.f5773e8","x":95.5,"y":185.11111450195312,"z":"dcfc1ab5.2303e8","wires":[["27ddd3e3.d8222c"]]},{"id":"b6c74be7.4938b8","type":"mqtt in","name":"","topic":"pHradio","broker":"a88c156.f5773e8","x":97.28572082519531,"y":313.4403076171875,"z":"dcfc1ab5.2303e8","wires":[["ff418e44.00be7"]]},{"id":"98363b2a.67c9c8","type":"mqtt in","name":"","topic":"Light_Voltage","broker":"a88c156.f5773e8","x":113.56349182128906,"y":386.17462158203125,"z":"dcfc1ab5.2303e8","wires":[["805c7ce3.7fa38"]]},{"id":"d96c0f0b.2693f","type":"mqtt in","name":"","topic":"pH_Voltage","broker":"a88c156.f5773e8","x":118.9841079711914,"y":435,"z":"dcfc1ab5.2303e8","wires":[["805c7ce3.7fa38"]]},{"id":"805c7ce3.7fa38","type":"function","name":"Log data","func":"// Buffer\ncontext.data = context.data || {};\n\n// Log everything on reciept of log_all message\nif (msg.topic =='log_all') {\n\tvar outputMsgs = [];\n\tfor(var topic in context.data){\n\t\toutputMsgs.push({'topic':topic, 'payload': context.data[topic]});\n\t}\n\treturn [outputMsgs];\n}\n\n// Compare the current payload with the previous\n// one, and if it's changed then pass on the message\n// and store the new value.\nelse if (msg.payload != context.data[msg.topic]) {\n\tcontext.data[msg.topic] = msg.payload;\n\treturn msg;\n}\n","outputs":1,"x":566.5,"y":376.9090881347656,"z":"dcfc1ab5.2303e8","wires":[["637bf197.9c841"]]},{"id":"637bf197.9c841","type":"function","name":"cassandra","func":"context.client = context.client || new context.global.cql.Client({\n\thosts: ['aquagardenserver'],\n\tkeyspace: 'aquaponics',\n});\n\nvar insertCommand = \"insert into todmorden\"\n    +\" (sensor_name, reading_time, reading_value) values \"\n\t+\" ('\"+msg.topic+\"', dateof(now()),\"\n\t+\" '\"+msg.payload+\"')\";\ncontext.client.execute(insertCommand, function(err, res){\n\n});\n\nreturn insertCommand;","outputs":"1","x":584.5,"y":471.90911865234375,"z":"dcfc1ab5.2303e8","wires":[["5d15e068.a2ea2"]]},{"id":"f2654d61.0d9ab","type":"mqtt in","name":"","topic":"system","broker":"a88c156.f5773e8","x":130,"y":556,"z":"dcfc1ab5.2303e8","wires":[["805c7ce3.7fa38"]]},{"id":"f701d511.08fe28","type":"mqtt in","name":"","topic":"Valve Messages","broker":"a88c156.f5773e8","x":107,"y":494,"z":"dcfc1ab5.2303e8","wires":[["805c7ce3.7fa38"]]},{"id":"21f61f9f.de09e","type":"mqtt in","name":"","topic":"Digital Water Level","broker":"a88c156.f5773e8","x":95.5,"y":243,"z":"dcfc1ab5.2303e8","wires":[["216d9c7e.de9264"]]},{"id":"5d15e068.a2ea2","type":"debug","name":"","active":true,"console":"false","complete":"true","x":591,"y":583,"z":"dcfc1ab5.2303e8","wires":[]},{"id":"216d9c7e.de9264","type":"function","name":"Rangify","func":"switch (parseInt(msg.payload, 10)) {\n\tcase 0:\n\t\tmsg.payload = '< 0.5';\n\t\tbreak;\n\tcase 1:\n\t\tmsg.payload = '>= 0.5 & < 8.5';\n\t\tbreak;\n\tcase 3:\n\t\tmsg.payload = '>= 8.5 & < 16';\n\t\tbreak;\n\tcase 7: \n\t\tmsg.payload = '>= 16 & < 24';\n\t\tbreak;\n\tcase 15:\n\t\tmsg.payload = '>= 24';\n\t\tbreak;\n\tdefault :\n\t    msg.payload = 'cannot determine level';\n\t    break;\n}\nreturn msg;","outputs":1,"x":307,"y":244,"z":"dcfc1ab5.2303e8","wires":[["805c7ce3.7fa38"]]},{"id":"ff418e44.00be7","type":"function","name":"Round to 1 dp","func":"msg.payload = parseFloat(msg.payload).toFixed(1);\nreturn msg;","outputs":1,"x":277,"y":313,"z":"dcfc1ab5.2303e8","wires":[["805c7ce3.7fa38"]]},{"id":"c7f2f22b.380d1","type":"mqtt in","name":"","topic":"Air Pump 2 Current","broker":"a88c156.f5773e8","x":96,"y":136.7143096923828,"z":"dcfc1ab5.2303e8","wires":[["27ddd3e3.d8222c"]]},{"id":"27ddd3e3.d8222c","type":"function","name":"Transform to on/off/overload","func":"var systemMsg = null;\n\nif (msg.payload < 0.1) {\n\tmsg.payload = 0; // OFF\n} else if (msg.payload > 1) {\n\tmsg.payload = 2; // OVERLOAD\n\tsystemMsg = {payload: msg.topic + ' Overload'};\n} else { \n\tmsg.payload = 1; // OK\n}\n\nreturn [systemMsg, msg];","outputs":"2","x":393,"y":138.7143096923828,"z":"dcfc1ab5.2303e8","wires":[["9d7d20b6.6282e"],["805c7ce3.7fa38"]]},{"id":"9d7d20b6.6282e","type":"mqtt out","name":"","topic":"system","broker":"a88c156.f5773e8","x":597,"y":95.71430969238281,"z":"dcfc1ab5.2303e8","wires":[]},{"id":"ed2c1f9e.12d3e","type":"inject","name":"Log all data at midnight","topic":"log_all","payload":"","payloadType":"none","repeat":"","crontab":"05 00 * * *","once":false,"x":546,"y":233,"z":"dcfc1ab5.2303e8","wires":[["805c7ce3.7fa38"]]}]